@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-rgb {
    background: rgba(0, 0, 0, 0.4);
  }

  .getInvolved {
    background-color: rgba(2, 103, 193, 0.8);
  }
  .text{
    background-image: url("./assets/images/banner1.jpg");
    background-position: center;
  }
}
